<div class="container-fluid">
    <div class="row mx-auto">

        <!-- product images (left block) -->
        <div class="col-lg-8 col-12">
            <div class="row">
                <div class="col-lg-3 d-none d-lg-block">
                    <i class="fas fa-2x fa-long-arrow-alt-left"></i>
                    <br> <br>
                    <i style="margin-left: 2em;" class="fas fa-1x fa-angle-up"></i>
                    <br>
                    <img class="side_pic" src="https://images-na.ssl-images-amazon.com/images/I/61URFUqEY4L._SX425_.jpg" alt="img01">
                    <br>
                    <img class="side_pic" src="https://5.imimg.com/data5/GR/QT/NU/SELLER-66316670/lotus-flower-pink-oil-500x500.jpg" alt="img02">
                    <br>
                    <img class="side_pic" src="https://assets.ajio.com/medias/sys_master/root/20210403/bsM4/606867797cdb8c1f147522ca/rare_navy_blue_floral_print_fit_&_flare_dress.jpg" alt="img03">
                    <br>
                    <img class="side_pic" src="https://www.avon.co.in/dam/jcr:b8588be8-1bd1-42c2-87fb-995a8966776c/31157%20Kendal%20Handbag%20Cum%20Sling%20Bag%20.jpg" alt="img04">
                    <br>
                    <img class="side_pic" src="https://st3.depositphotos.com/1004330/37034/i/450/depositphotos_370340544-stock-photo-goldfish-freshwater-aquarium-closeup-view.jpg" alt="img05">
                    <br>
                    <i style="margin-left: 2em;" class="fas fa-1x fa-angle-down"></i>
                </div>
                <div class="col-lg-9 col-12">
                    <img class="center_pic" src="https://i.pinimg.com/564x/e9/4d/62/e94d6238e1e5bf90f2f35302fe3fb89a.jpg" alt="prod-img">
                    <i style="float: right; padding: 0.4em;" class="fas fa-2x fa-search-plus d-none d-lg-block"></i>
                </div>
            </div>

            <br> <br>
            <div class="description mt-2">
                <p style="font-family: Graphik-Semi-Bold;font-size: 1.2em;">Description</p>
                
                

                <input type="checkbox" class="read-more-state" id="post-1">
                <p class="read-more-wrap" style="font-family: Graphik-Regular; font-size: 0.9em;word-spacing: 2px;">
                    Heavy Designer Lehenga Choli & Dupatta In Light Base Color Fabricated On Soft Net Beautified With Heavy
                    <br> Attractive Dori & Zarkan Embroidery Work.
                    <span class="read-more-target">
                        <div class="read-more-content">
                            <br>
                            <p style="font-family: Graphik-Regular;">
                                Blouse : Soft Net , <br>
                                Lehenga : Soft Net , <br>
                                Inner : Santoon , <br>
                                Dupatta : Soft Net <br>
                                Work : Dori,Zarkan Embroidery <br>
                                Wash : Dry clean <br>
                                lehenga color : Pink <br>
                                
                                <br>
                                <b>STITCHING: </b>
                                <span>Post you place the order, I will send the list of measurements I will need</span>
                                <br>
                                <i class="fas fa-bahai">  <span><b>SHIPPING Policy:</b></span></i>
                                <br>
                                <i class="fas fa-arrow-right">   <span><b>Express Shipping: </b> Product will take 5-15 days to reach you</span></i>
                                <br>
                                <i class="fas fa-arrow-right">   <span><b>Normal Shipping: </b> Product will take 10-25 days to reach you</span></i>

                                <br>
                                <i class="fas fa-bahai">  <span><b>Size: </b> This is custom made as per your size. Any size possible be it for kid or plus size women</span></i>
                                <br>
                                <i class="fas fa-bahai">  <span><b>Disclaimer: </b> Slight Variation in actual color vs. image is possible due to lightning, screen settings and resolution.</span></i>
                            </p>
                        </div>
                    </span>
                </p>
                <label style="font-family: Graphik-Medium" for="post-1" class="read-more-trigger btn btn mt-2"></label>
                <br> <br>
            </div>
        </div>

        <!-- product info (right block) -->
        <div style="background-color: white; box-shadow: 5px 2px 8px black; margin-top: -0.5em; margin-bottom: -0.5em;" class="col-lg-4 col-12 right-content">
            <div class="content">
                <i style="float: right;" class="far fa-2x fa-heart"></i>
                <p style="font-family: Graphik-Medium;">TedandMag</p>
                <p style="font-family: Graphik-Light; margin-top: -10px; font-size: 0.8em; word-spacing: 2px;">Local Seller |  2 Sales</p>
                <p style="font-family: Graphik-Medium; font-size: 1em;">Heavy embroidery bridal lehenga choli Indian       
                    Pakistani wedding bridesmaids dress Ghagra    
                    choli chaniya choli bridal lehenga prom dress
                    Leheng
                </p>
                <p style="font-family: Graphik-Medium; font-size: 1.3em; font-weight: 800;">US $ 83.00 <span style="float: right;font-family: Graphik-Medium; color: orangered; font-size: 0.7em !important;">Low in stock</span> </p>
                <hr style="color: grey;">
                <form>
                    <label style="font-family: Graphik-Medium;" for="product">Primary Color:</label>
                    <br>
                    <select style="width: 100%; padding: 0.5em; border-radius: 5px; border-color: grey;" name="product" id="prodId">
                      <option class="prod-field" value="product"> Red</option>
                    </select>
                    
                    <label style="font-family: Graphik-Medium; margin-top: 10px;" for="product">Size:</label>
                    <br>
                    <select style="width: 100%; padding: 0.5em; border-radius: 5px; border-color: grey;" name="product" id="prodId">
                      <option value="product">Small</option>
                    </select>
                </form>
                <br> 
                <button style="font-family: Graphik-Medium;border-radius: 25px; padding: 0.6em; width: 49%; float: left; background-color: white; border-color: black;"><i style="float: left;" class="fas fa-minus"></i> 1 <i style="float: right;" class="fas fa-plus"></i></button>
                <button style="font-family: Graphik-Medium;border-radius: 25px; padding: 0.7em; width: 49%; float: right; background-color: white; border-color: black;">Buy it now</button>
                <br> <br> <br>
                <button style="font-family: Graphik-Medium;border-radius: 25px; padding: 0.6em; width: 100%; float: center; background-color: orangered; border-color: orangered  !important; color: white;"> Add to cart </button>
                <br>
                <div class="row">
                    <div style="padding: 5px;" class="col-lg-2 mt-2 col-2">
                        <i style="color: orangered;" class="fas fa-2x fa-truck"></i>
                    </div>
                    <div style="font-family: Graphik-Regular; font-size: 0.8em; padding: 10px;" class="col-lg-10 mt-3 col-10 txt">
                        <b>Arrives by 29 Jul.-04 Aug.</b>
                        if you order today.
                        <br>
                        <b>Hooray!</b>
                        This item delivers for free.
                    </div>
                </div>
                <hr style="color: grey; margin-top: 2px;">

                <div class="hidden_cont">
                    <i style="margin-left: 2em; float: right;" class="fas fa-1x fa-angle-up"></i>
                    <p style="font-family: Graphik-Medium;">Meet your seller</p>

                    <div style="margin-left: -1em;" class="row seller">
                        <div class="col-lg-2 col-2">
                            <i style="color:yellowgreen;" class="fas fa-2x fa-shopping-cart"></i>
                        </div>
                        <div class="col-lg-10 mt-2 col-10">
                            <p style="font-family: Graphik-Medium; font-size: 0.9em;">Ted and Mag <br>
                                <span style="font-family: Graphik-Extra-Light; font-size: 0.8em;">Owner of <span style="text-decoration: underline;">TedandMag</span></span>
                            </p>
                        </div>
                    </div>
                    <button style="font-family: Graphik-Medium;border-radius: 25px; padding: 0.6em; width: 100%; float: center; background-color: white; border-color: black  !important; color: black;">Message TedandMag</button>
                    <br>
                    <p style="font-family: Graphik-light;text-align: center; font-size: 0.7em; margin-top: 5px;">This seller usually responds within a few hours.</p>
                </div>
            </div>
        </div>
    </div>
</div>